{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeekPal</title>

    {% include "../head/css.html" %}
    {% include "../head/icon.html" %}
</head>
<body class="w-full h-screen flex justify-center items-center bg-[#001F3F] text-white">
    <div class="w-full flex justify-around items-center">
        <img src="{% static 'images/PeekPal.png' %}" alt="" style="width: 600px;">

        <div class="w-[30%] h-screen flex flex-col justify-center gap-12">
            <h1 class="self-start text-4xl font-bold">Reveal your secrets</h1>
            <h2 class="text-3xl font-bold">Join today.</h2>

            <div class="w-[75%] flex flex-col gap-3">
                <a href="/login"z class="p-2 bg-white text-[#001F3F] flex justify-center items-center rounded-3xl">
                    <div class="text-xl font-semibold">Login</div>
                </a>
                
                <div class="flex items-center gap-1 opacity-80">
                    <span class="flex-auto h-[1px] bg-white"></span>
                    <span>or</span>
                    <span class="flex-auto h-[1px] bg-white"></span>
                </div>

                <a href="/register"z class="p-2 bg-blue-800 text-white flex justify-center items-center rounded-3xl">
                    <div class="text-xl font-semibold">Create your account</div>
                </a>
                <span class="text-sm text-wrap text-gray-200">
                    By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.
                </span>
            </div>

        </div>
    </div>
</body>
</html>