<nav class="h-screen flex flex-col items-center bg-[#001F3F] w-[20vw] text-white py-8 px-20">
    <h1 class="w-full text-3xl flex justify-start">
        <a href="/home">PeekPal</a>
    </h1>
    <ul class="w-full flex flex-col gap-8 mt-32">
        <li class="w-full">
            <a id="home" href="/home" class="w-full flex gap-8 items-center">
                <i class="fa-solid fa-house"></i> 
                <span>Home</span>
            </a>
        </li>

        <li class="w-full">
            <a id="notifications" href="/notifications" class="w-full flex gap-8 items-center">
                <i class="fa-solid fa-bell"></i>
                <span>Notifications</span>
            </a>
        </li>
        
        <li class="w-full">
            
            <a id="vault" href="/vault" class="w-full flex gap-8 items-center">
                <i class="fa-solid fa-vault"></i>
                <span>Vault</span>
            </a>
        </li>

        <li class="w-full">
            
            <a id="friends" href="/friends" class="w-full flex gap-8 items-center">
                <i class="fa-solid fa-user-group"></i>
                <span>Friends</span>
            </a>
        </li>

        <li class="w-full">
            <a id="profile" href="/profile" class="w-full flex gap-8 items-center">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</nav>